{% extends "index.html" %}
{% load static %}
{% block content %}
<!-- Page Header -->
    <header class="masthead" style="background-image: url{% static 'img/backlit-bonding-casual-708392.jpg' %}">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <img style="width: 200px; border-radius: 20px;" src="{{ profile.image.url }}">
              <h1>Nazrin Miriyeva</h1>
              <span class="subheading">Python/ Developer</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for articles in article_list %}
                    <div class="post-preview">
                        <a href="{% url 'author' articles.id %}">
                            <h2 class="post-title">
                                {{ articles.name }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ articles.sub_title }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">Matrix Blog</a>
                            on September 24, 2018</p>
                    </div>
                    <hr>
                {% endfor %}
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

{% endblock %}