{% extends "index.html" %}
{% load static %}
{#{% load widget_tweaks %}#}
{% block content %}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Şəkil</th>
                  <th>Başlıq</th>
                  <th>Saytda görünməyi</th>
                  <th>Paylaşıldığı tarix</th>
                  <th>Əməliyyatlar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><img style="width: 150px;" src="{% static 'img/post-sample-image.jpg' %}"></td>
                  <td>Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</td>
                  <td>Hə/Yox</td>
                  <td>27/7/2018 23:00</td>
                  <td><a class="btn btn-success" href="">Düzəliş et</a><a class="btn btn-danger" data-toggle="modal" data-target="#myModal" href="">Sil</a></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img style="width: 150px;" src="img/post-sample-image.jpg"></td>
                  <td>Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</td>
                  <td>Hə/Yox</td>
                  <td>27/7/2018 23:00</td>
                  <td><a class="btn btn-success" href="">Düzəliş et</a><a class="btn btn-danger" data-toggle="modal" data-target="#myModal" href="">Sil</a></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img style="width: 150px;" src="img/post-sample-image.jpg"></td>
                  <td>Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</td>
                  <td>Hə/Yox</td>
                  <td>27/7/2018 23:00</td>
                  <td><a class="btn btn-success" href="">Düzəliş et</a><a class="btn btn-danger" data-toggle="modal" data-target="#myModal" href="">Sil</a></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img style="width: 150px;" src="img/post-sample-image.jpg"></td>
                  <td>Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</td>
                  <td>Hə/Yox</td>
                  <td>27/7/2018 23:00</td>
                  <td><a class="btn btn-success" href="">Düzəliş et</a><a class="btn btn-danger" data-toggle="modal" data-target="#myModal" href="">Sil</a></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img style="width: 150px;" src="img/post-sample-image.jpg"></td>
                  <td>Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</td>
                  <td>Hə/Yox</td>
                  <td>27/7/2018 23:00</td>
                  <td><a class="btn btn-success" href="">Düzəliş et</a><a class="btn btn-danger" data-toggle="modal" data-target="#myModal" href="">Sil</a></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img style="width: 150px;" src="img/post-sample-image.jpg"></td>
                  <td>Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</td>
                  <td>Hə/Yox</td>
                  <td>27/7/2018 23:00</td>
                  <td><a class="btn btn-success" href="">Düzəliş et</a><a class="btn btn-danger" data-toggle="modal" data-target="#myModal" href="">Sil</a></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img style="width: 150px;" src="img/post-sample-image.jpg"></td>
                  <td>Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</td>
                  <td>Hə/Yox</td>
                  <td>27/7/2018 23:00</td>
                  <td><a class="btn btn-success" href="">Düzəliş et</a><a class="btn btn-danger" data-toggle="modal" data-target="#myModal" href="">Sil</a></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img style="width: 150px;" src="img/post-sample-image.jpg"></td>
                  <td>Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</td>
                  <td>Hə/Yox</td>
                  <td>27/7/2018 23:00</td>
                  <td><a class="btn btn-success" href="">Düzəliş et</a><a class="btn btn-danger" data-toggle="modal" data-target="#myModal" href="">Sil</a></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img style="width: 150px;" src="img/post-sample-image.jpg"></td>
                  <td>Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</td>
                  <td>Hə/Yox</td>
                  <td>27/7/2018 23:00</td>
                  <td><a class="btn btn-success" href="">Düzəliş et</a><a class="btn btn-danger" data-toggle="modal" data-target="#myModal" href="">Sil</a></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img style="width: 150px;" src="img/post-sample-image.jpg"></td>
                  <td>Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</td>
                  <td>Hə/Yox</td>
                  <td>27/7/2018 23:00</td>
                  <td><a class="btn btn-success" href="">Düzəliş et</a><a class="btn btn-danger" data-toggle="modal" data-target="#myModal" href="">Sil</a></td>
                </tr>
              </tbody>
            </table>
            </div>
        </div>
        <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-left" href="#">Səhifələmə</a>
          </div>
      </div>
    </div>

    <hr>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <form>
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>

          </div>
          <div class="modal-body">
            <p>Bu xəbəri silmək istədiyinizə əminsiniz?</p>
          </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-success" data-dismiss="modal">Sil</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Bağla</button>
          </div>
        </div>
        </form>
      </div>
    </div>
{% endblock %}