{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
     <!-- Page Header -->
    <header class="masthead" style="background-image: url({{ header.background_image.url }})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Lövhə</h1>
              <span class="subheading">Mənim məqalələrim </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Pager -->
          <hr>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
            <div class="clearfix">
            <a class="btn btn-primary float-left" href="{% url 'create_view' %}">Meqale yarat</a>
          </div>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Şəkil</th>
                  <th>Başlıq</th>
{#                  <th>Saytda görünməyi</th>#}
                  <th>Paylaşıldığı tarix</th>
                  <th>Əməliyyatlar</th>
                </tr>
              </thead>
              <tbody>
              {% for articles in article_list %}
                <tr>
                  <td>{{ articles.id }}</td>
                  <td><img style="width: 150px;" src="{{ articles.get_image }}"></td>
                  <td>{{ articles.name }}</td>
{#                  <td>Hə/Yox</td>#}
                  <td>{{ articles.publish_date|date:'H:i d-m-Y' }}</td>
                  <td><a class="btn btn-success" href="{% url 'update_view' pk=articles.id %}">Düzəliş et</a><a class="btn btn-danger" href="{% url 'delete_view' pk=articles.id %}">Sil</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <form>
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>

          </div>
          <div class="modal-body">
            <p>Bu xəbəri silmək istədiyinizə əminsiniz?</p>
          </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-success" data-dismiss="modal">Sil</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Bağla</button>
          </div>
        </div>
        </form>
      </div>
    </div>
{% endblock %}
